 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1417px;
}

.u-section-1 .u-image-1 {
  width: 54px;
  height: 91px;
  margin: 32px auto 0 450px;
}

.u-section-1 .u-text-1 {
  margin: -10px 210px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: -167px 709px 0 0;
}

.u-section-1 .u-image-2 {
  width: 84px;
  height: 62px;
  margin: 165px auto 0 233px;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: -44px 925px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 19px 210px 0 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  margin: 49px 955px 0 0;
}

.u-section-1 .u-image-3 {
  width: 169px;
  height: 43px;
  margin: -33px auto 0 216px;
}

.u-section-1 .u-text-6 {
  margin: 9px 210px 0 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-4 {
  width: 106px;
  height: 63px;
  margin: 20px auto 0 279px;
}

.u-section-1 .u-text-7 {
  font-size: 1.875rem;
  margin: -52px 899px 0 0;
}

.u-section-1 .u-text-8 {
  margin: 19px 210px 0 0;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-14 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-5 {
  width: 180px;
  height: 63px;
  margin: 20px auto 0 137px;
}

.u-section-1 .u-text-9 {
  font-size: 1.875rem;
  margin: -52px 1042px 0 0;
}

.u-section-1 .u-text-10 {
  font-size: 1.875rem;
  margin: -33px 1042px 0 0;
}

.u-section-1 .u-text-11 {
  margin: 19px 210px 0 0;
}

.u-section-1 .u-btn-15 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-16 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-17 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-18 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-12 {
  font-size: 1.875rem;
  margin: 39px 1014px 0 0;
}

.u-section-1 .u-image-6 {
  width: 63px;
  height: 63px;
  margin: -54px auto 0 152px;
}

.u-section-1 .u-text-13 {
  margin: 11px 733px 60px 0;
}

.u-section-1 .u-btn-19 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-20 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-21 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 509px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 509px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 755px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 10px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 509px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 10px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 699px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 842px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 10px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 814px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 533px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 289px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 289px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 535px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 289px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 479px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 622px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 594px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 313px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 109px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 109px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 355px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 109px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 299px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 442px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 414px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -63px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 20px;
    margin-right: 133px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-left: 286px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 155px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 171px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 234px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 99px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 242px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 214px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
  }
}