 .u-section-1 {
  min-height: 449px;
}

.u-section-1 .u-image-1 {
  height: 218px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 60px;
}